@{
    ViewBag.Title = "Error de inicio de sesión";
}

<hgroup>
    <h2 style="color:aliceblue">@ViewBag.Title.</h2>
    <h3 style="color:aliceblue">El inicio de sesión con el servicio no se ha llevado a cabo correctamente.</h3>
</hgroup>
