@{
    ViewBag.Title = "Confirmación de contraseña olvidada";
}

<hgroup class="title">
    <h1 style="color:aliceblue">@ViewBag.Title.</h1>
</hgroup>
<div>
    <p style="color:aliceblue">
        Compruebe el correo electrónico para restablecer la contraseña.
    </p>
</div>
	
