@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
<body >
    <div class="jumbotron">
        <h1>ASOVENSEP S.A</h1>
        <p class="lead">
            ASOVENSEP es una asociación de agricultores pertenecientes a la Parroquia de La Unión, en la Provincia de Esmeraldas.
            La asociación fue creada con el propósito de unir a pequeños productores como respuesta las políticas de comercialización de las compañías las cuales compran el producto final, 
            para así poder tener poder de mercado en la comercialización.
        </p>
       
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2 style="color:aliceblue">Misión</h2>
            <p style="color:aliceblue">
                ASOVENSEP es una asociación que impulsa el desarrollo agrícola, creada con el fin de brindar capacitación y apoyo técnico a
                pequeños agricultores para contribuir al desarrollo socio-económico de la parroquia Machachi, realizando entrenamientos, acuerdos y seminarios con empresas, 
                gremios y casas comerciales.
            </p>
           
        </div>
        <div class="col-md-4">
            <h2 style="color:aliceblue">Visión</h2>
            <p style="color:aliceblue">Dentro de 3 años queremos cubrir el 100% de la actividad productiva de los pequeños agricultores para completar la cadena de producción, es decir producir, procesar, 
            comercializar y exportar el producto terminado. Seremos vistos como una asociación sólida con capacidad de cumplir los requerimientos del mercado, manteniendo estándares de 
            calidad para nuestros asociados.</p>
           
        </div>
        <div class="col-md-4">
            <h2 style="color:aliceblue">Valores</h2>
            <p style="color:aliceblue">
                Solidaridad: Esfuerzo para mejorar las condiciones de vida de la parroquia la Unión.
                Cada trabajador tiene la obligaciòn de compartir ideas innovadoras para el mejoramiento de la cadena productiva de cada agricultor.
            </p>
            <p style="color:aliceblue">
                Igualdad: Mismas oportunidades para todas las personas que conforman la asociación.
                Los asociados de mayor experiencia  colaborarán en la introducción a los nuevos agricultores.
            </p>
            <p style="color:aliceblue">
                Sostenibilidad: Búsqueda del equilibrio ambiental y social.
                Los trabajadores colaborarán con alternativas de limpieza de los residuos de la palma aceitera.
            </p>
            <p style="color:aliceblue">
                Compromiso: cumplir con lo ofrecido para mejorar las condiciones de los pequeños agricultores.
            </p>

        </div>
    </div>
</body>
</html>